/.lake
src/Ideal/old/BejectionTest.lean
src/Ideal/sysI/sys2024.lean
src/ideal-test/ideal-deletion.lean
src/ideal-test/ideal-list.lean
src/ideal-test/ideal-refactor.lean
src/ideal-test/ideal-sum.lean
src/Ideal/sysI/sys2024.lean
src/ideal-test/ideal-trace.lean
src/ideal-test/newideal.lean
src/mil/mil1.lean
src/mil/mil2.lean
src/mil/mil3.lean
src/mil/mil4.lean
src/misc/chatGPT.lean
src/ideal-test/ideal-univ.lean
src/ideal-test/ideal.lean
src/ideal-test/idealtest.lean
src/ideal-test/idealtest2.lean
src/ideal-test/idealtest6.lean
src/ideal-test/idealtest7.lean
src/misc/idealtest-int.lean
src/misc/idealproptest.lean
src/sys/pred.lean
src/misc/unuse.py
src/sys/prop.lean
src/sys/sys1.lean
src/sys/sys2.lean
src/sys/sys2test.lean
src/sys/sys3.lean
src/test/copilottest.lean
src/test/structure.lean
src/test/tmp.lean
src/misc/Math.lean
src/misc/MyModule.lean
src/test/finset_example.lean
src/Ideal.lean
